*{
	font-family: 'Quicksand', sans-serif;
	color: black;
	background-color: #beige;
	margin: 20px 10px 20px 10px;
}

header {
	text-align: center;
}

/*@ regular sizing*/
section {
	position: fixed;
	float: left;
	width: 50%;
	padding: 15px;
	left: 0px;
}

main {
	position: fixed;
	float: right;
	width: 50%;
	padding: 15px;	
	right: 0px;
}

footer{
	position:fixed;
	float: bottom;
	width: 100%;
	left:0px;
	bottom:0px;
}
