*{
	font-family: 'Quicksand', sans-serif;
	color: black;
	background-color: #beige;
	margin: 20px 10px 20px 10px;
}

header {
	text-align: center;
}

.blockLeft {
	float:left;
	display: left;
}
.blockRight {
	float:right;
	display: right;
}


section {
	float: left;
	width: 100%;
	padding: 5px;
}

main {
	float: right;
	width: 90%;
	padding: 5px;	
}

footer {
	/*float: bottom; get rid of this,  work on clearing, take out of the floats*/
	width: 100%;
	left:0px;
}
